// Importa tus parciales aquí
@import 'variables';
@import 'base';

// Añade estilos específicos debajo
header {
    background-color: $primary-color;
    color: white;
    padding: 2rem;
    text-align: center;

    h1 {
        margin: 0;
        font-size: 2.5rem;
    }
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}